.slider-container{
    position: absolute;
    top: 4017px;
    left: 0;
    right: 0;

    background-position: center;
}

.feedbackcolor-container{ 
    background-color: rgba(0, 0, 0, 0.77);
}

.feedback-container{
    margin: 0px 60px;
}

.feedback-div{
    margin: 0px;
}

.feedback{
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding-top: 70px;
}

.whatstudent{
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 10px;
}

.feedbackdata-container{
    display: flex;
    margin-top: 80px;
}

.feedback-1{
    width: 800px;
    display: flex;
}

.feedback-2{
    display: inline-block;
    margin-top: 30px;
}

.person-photo{
    display: inline-block;
    margin-right: 40px;
    display: flex;
}

.placedguy{
    border-radius: 3px;
    display: inline-block;
    height: 92px;
    width: 92px;
}

.person-feedback{
    width: 396px;
}

.quotes-button{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    background-color: #0A556B;
    color: #07294d;
    font-size: 18px;
    font-weight: bold;

    margin-left: -20px;
    margin-top: -20px;
}

.personfeedback{
    text-align: left;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    padding: 0px 30px 5px 0px ;
    margin: 0px 0px 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.person-name{
    font-family: "Montserrat", Sans-serif;
    text-align: left;
}

.personname{
    color: #fff;
    padding: 0 30px 4px 0;
    font-size: 18px;
    font-weight: 700;
}